#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #333333;
    padding-bottom: 20px;
}

.footer-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    max-width: 1440px;
    padding: 30px 20px 10px;
    margin: auto;
}

.footer-top-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.footer-top-list-item a {
    text-decoration: none;
    color: #dbdbdb;
    margin-right: 20px;
    font-size: 1rem;
}

.footer-top-list-item a:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 6px;
    transition: all .4s;
}

.footer-logo {
    margin-right: 60px;
}

.footer-logo img {
    filter: brightness(0) invert(1);
}

.footer-content {
    list-style: none;
    font-size: 0.9rem;
    color: #dbdbdb;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .footer-top-list {
        flex-direction: column;
    }

    .footer-top-list-item a {
        margin-right: 0;
    }

    .footer-top-list-item {
        margin-bottom: 1rem;
    }

    .footer-wrapper {
        padding: 20px;
        flex-direction: column;
    }

    .footer-top .footer-wrapper {
        padding: 0;
        padding-top: 30px;
        padding-bottom: 0;
    }

    .footer-logo {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .footer-content {
        text-align: center;
    }
}