<link rel="stylesheet" href="/TaeinjmWeb/css/footer.css" />
<link rel="stylesheet" href="/css/footer.css" />

<footer class="footer">
    <div class="footer__inner">
        <div class="footer__brand">
            <img src="/TaeinjmWeb/assets/image/logo.png" alt="태인정밀 로고" class="footer__logo">
        </div>
        <div class="footer__info">
            <p class="footer__company">
                <strong>태인정밀</strong>
            </p>
            <p class="footer__text">
                사업자번호 : 609-08-83143<br>
                대표이사 : 김인자
            </p>
            <p class="footer__text">
                경남 창원시 의창구 소계로 12<br>
                (팔용동, 창원테크노벨리 테크동 101호)
            </p>
            <p class="footer__text">
                T. 055-275-7616<br>
                F. 055-275-7617
            </p>
        </div>
    </div>

    <div class="footer__copyright">
        Copyright © 태인정밀 All Rights Reserved.
    </div>
</footer>