<link rel="stylesheet" href="../css/header.css" />

<body>
    <div class="header__top">
        <div class="header__wrapper">
            <img src="../assets/image/logo.png" alt="태인정밀 로고" />
            <div class="header__lang-selector">
                <a href="/">KOR</a>
                <a href="/">ENG</a>
            </div>
        </div>
    </div>
    <nav class="header__bottom">
        <div class="header__wrapper">
            <div class="header__bottom-main">
                <a href="/">회사소개</a>
                <a href="/">설비</a>
                <a href="/">생산제품</a>
                <a href="/">R&D</a>
                <a href="/">고객센터</a>
            </div>
            <div class="header__bottom-sub">
                <ul>
                    <li><a href="/">인사말</a></li>
                    <li><a href="/">비전 및 핵심가치</a></li>
                    <li><a href="/">품질환경방침</a></li>
                    <li><a href="/">연혁</a></li>
                    <li><a href="/">오시는길</a></li>
                </ul>
                <ul>
                    <li><a href="/">생산설비</a></li>
                    <li><a href="/">시험측정장비</a></li>
                </ul>
                <ul>
                    <li><a href="/">차량용부품</a></li>
                    <li><a href="/">방산부품</a></li>
                </ul>
                <ul>
                    <li><a href="/">연구실적</a></li>
                    <li><a href="/">특허</a></li>
                    <li><a href="/">인증</a></li>
                </ul>
                <ul>
                    <li><a href="/">공지사항</a></li>
                    <li><a href="/">고객센터</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>