<link rel="stylesheet" href="/TaeinjmWeb/css/header.css" />

<body>
    <div class="header__top">
        <div class="header__wrapper">
            <img src="/TaeinjmWeb/assets/image/logo.png" alt="태인정밀 로고" />
            <div class="header__lang-selector">
                <a href="/TaeinjmWeb/">KOR</a>
                <a href="/TaeinjmWeb/">ENG</a>
            </div>
        </div>
    </div>
    <nav class="header__bottom">
        <div class="header__wrapper">
            <div class="header__bottom-main">
                <a href="/TaeinjmWeb/">회사소개</a>
                <a href="/TaeinjmWeb/">설비</a>
                <a href="/TaeinjmWeb/">생산제품</a>
                <a href="/TaeinjmWeb/">R&D</a>
                <a href="/TaeinjmWeb/">고객센터</a>
            </div>
            <div class="header__bottom-sub">
                <ul>
                    <li><a href="/TaeinjmWeb/">인사말</a></li>
                    <li><a href="/TaeinjmWeb/">비전 및 핵심가치</a></li>
                    <li><a href="/TaeinjmWeb/">품질환경방침</a></li>
                    <li><a href="/TaeinjmWeb/">연혁</a></li>
                    <li><a href="/TaeinjmWeb/">오시는길</a></li>
                </ul>
                <ul>
                    <li><a href="/TaeinjmWeb/">생산설비</a></li>
                    <li><a href="/TaeinjmWeb/">시험측정장비</a></li>
                </ul>
                <ul>
                    <li><a href="/TaeinjmWeb/">차량용부품</a></li>
                    <li><a href="/TaeinjmWeb/">방산부품</a></li>
                </ul>
                <ul>
                    <li><a href="/TaeinjmWeb/">연구실적</a></li>
                    <li><a href="/TaeinjmWeb/">특허</a></li>
                    <li><a href="/TaeinjmWeb/">인증</a></li>
                </ul>
                <ul>
                    <li><a href="/TaeinjmWeb/">공지사항</a></li>
                    <li><a href="/TaeinjmWeb/">고객센터</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>